<div class="container app">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">{{ title }}</h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()"> &times; </a> {{ msg }}
      </div>
      <div class="alert alert-danger alert-dismissable" *ngIf="msgerr">
        <a href="#" class="close" (click)="closeAlert()"> &times; </a>
        {{ msgerr }}
      </div>
    </div>
  </div>
  <div
    class="row"
    style="padding-bottom: 12px; border-bottom: 1px solid #cccccc; margin-bottom: 12px"
  >
    <div class="col-sm-12">
      <form class="form-inline pull-right">
        <div class="form-group">
          <div class="col-sm-4">
            <input
              type="text"
              class="form-control"
              id="name"
              name="name"
              [(ngModel)]="model.name"
              placeholder="Team name"
            />
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-2">
            <button type="submit" class="btn btn-success" (click)="addTeam()">
              Add
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-9">
      <div class="row">
        <h2 class="col-sm-6">
          Matches
          <button
            class="btn btn-info"
            *ngIf="teams.length % 2 == 0 && teams.length >= 4"
            (click)="Generate()"
          >
            <span class="glyphicon glyphicon-cog glyph"></span> Generate
          </button>
        </h2>
      </div>
      <div class="row">
        <table class="table">
          <tr *ngFor="let mat of Rounds; let i = index">
            <td>
              <h4>Round {{ mat[0].round }}:</h4>
            </td>
            <td>
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Local</th>
                    <th scope="col">Visitor</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let m of mat">
                    <td>{{ m.local.name }}</td>
                    <td>{{ m.visitor.name }}</td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </table>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-2 row"></div>
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item">
            <h4 class="col-sm-1">Teams</h4>
            <button
              type="button"
              class="btn btn-danger"
              style="margin-left: 100px"
              title="Delete team selected"
              (click)="deleteTeam()"
            >
              <span class="glyphicon glyphicon-trash glyph"></span>
            </button>
          </li>
          <li
            [className]="
              clicked[i]
                ? ' list-group-item list-group-item-action active'
                : 'list-group-item list-group-item-action inactive'
            "
            *ngFor="let team of teams; let i = index"
            (click)="selectedForDelete(i)"
          >
            {{ team.name }}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
